
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------*/
*{
	box-sizing: border-box;
	-mos-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
h3{
	font-size: 1.2em;
	line-height: 30px;
	font-weight: bold;
}
h4{
	margin-top: 20px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 3.5em;
}
.clearfix{
	clear: both;
}



.wrap{
	font-family:微軟正黑體;
	width: 1000px;
	margin:0 auto;
}

.headup{
	background:#f6f6f6;
	height:30px;
	margin-top: 10px;
}
.headup ul{
	float:right;
	margin-right:20px;
}
	.headup li{
		float:left;
		line-height: 30px;
		margin-left:10px;
	}
	.headup a{
		text-decoration: none;
	}

		.headup a:hover{
			color:#ee9750;
		}

	.headup img{
		margin-right: 5px;
	}

	.fb{
		color:#4460a0;
		border-right: 1px solid #ddd;
		padding-right: 10px;
	}
	.twitter{
		color:#00aaec;
	}

.header h1{
	float: left;
	margin:10px 0 10px 20px;

	
}
	.header h1 a{
		background: url(../image/logo.png) no-repeat;
		width: 170px;
		height: 36px;
		display: block;
		text-indent: 101%;
		overflow: hidden;
		white-space: nowrap;
		
	}
.upmenu{
	float:right;
}
	.upmenu li{
		float:left;
	}
	.upmenu a{
		display: block;
		text-decoration: none;
		font-weight: bold;
		color:#0c9;
		line-height: 50px;
		padding-left:10px;
		padding-right:10px;
		margin-right: 20px;
	}
	.upmenu a:hover{
		border-bottom: 2.5px solid #0c9;
	}

/*-----------banner---------------------------*/
.banner{
	width:100%;
	margin-bottom: 60px;
	position: relative;
	color: white;
}
	.banner-rect{
		position: absolute;
		padding-top: 38px;
		padding-bottom: 38px;
		width: 100%;
		top: 86px;
		padding-left: 3%;
		background: rgba(0,0,0,.15);
	}
	.banner-rect h2{
		font-size: 36px;
		font-weight: bold;
		line-height: 1.4em;

	}
.swiper-container{
	width: 100%;
	height: 346px;
}
	 .swiper-slide {
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

/*-----------content------------------------------*/
.course{
	width:990px;
	margin:0 auto;
}
.course li{
	float:left;
	width:300px;
	margin-right:15px;
	margin-left:15px;
	padding:20px;
	text-align: center;

	box-shadow: 0 3px 2px #ddd;
	-webkit-box-shadow: 0 3px 2px #ddd;
	-moz-box-shadow: 0 3px 2px #ddd;

}

.pictureBox{
	height:140px;
	line-height: 140px;


}
.pictureBox img{
	vertical-align: middle;
	
}


.course p{
	text-align: left;
	font-size: 0.8em;
	line-height: 1.5em;
}
.feature{
	text-align: left;
	line-height: 1.5em;
	font-size: 0.8em;
}
	.feature li{
		
		border: 0px;
	    margin: 0px;
	    padding:0 0 0 14px;
	    text-align: left;

	    /*display: list-item;
	    list-style: disc;
	    list-style-position: inside;*/
	    background: url(../image/dot.png) no-repeat 5px center;

	    box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	  
	}

 
.compare{
	width: 840px;
	margin:0 auto;
}
.compare th, .compare td {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding: 10px 20px;
}
.compare th{
	background-color: #f6f6f6;
	font-weight: bold;
	text-align: left;
}
.highlight{
	color: #42b392;
}
.register{
	position: relative;
	margin-top: 60px;
	width: 1000px;
	height: 400px;
	background:linear-gradient(#006446,#009772);
	background:-webkit-linear-gradient(#006446,#009772);
	background:-moz-linear-gradient(#006446,#009772);
}
	.register h4{
		color:white;
		position: absolute;
		top:10px;
		left:382px;
		line-height: 1.5em;
	}
	.register label{
		display:block;
		color:white;
		font-weight: bold;
		line-height: 1.5em;
		

	}
	.register textarea{
		width: 460px;
		height: 245px;
		position: absolute;
		top:130px;
		left: 20px;
	}
	.word{
		margin-bottom: 10px;
		width: 460px;
		height: 32px;
		padding: 10px;
		border-radius: 3px;
		border:none;
	}
	.word:focus{
		background-color: #9dffe4;
		border: 2px solid lightgreen;
	}
.box{
	position: absolute;
	top:130px;
	left: 520px;
}
.submit{
	margin-right: 20px;
	margin-top: 10px;
	padding:10px 25px;
	float:right;
	background-color: #0c9;
	color: white;
	border:none;
	border-radius: 3px;
}
.submit:hover{
	background-color: #fdbc5f;
	padding:15px 28px;
}
.footer{
	height: 120px;
}
.logo2{
	float: left;
	margin-left: 20px;
	margin-top: 25px;
}
.logo2 a{
	background:url(../image/logo2.png);
	width: 170px;
	height: 37px;
	display: block;
	
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;

}
.footer ul{
	float: right;
	margin-top: 25px;
	margin-right:20px;
}
	.footer li{
		line-height: 1.5em;
	}
.textColor{
	color:#e12d80;
}
